.attribution {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  text-align: center;

  a {
    font-weight: 700;
    text-decoration: none;
    color: limegreen;

    &:active,
    &:hover {
      color: $color-secondary;
    }
  }
}
