.card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'image  content';
  gap: 2rem;
  align-items: center;

  background-image: url('../../images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: 82rem 90rem;
  background-position: -43rem -28rem;

  background-color: $color-white;
  width: 50%;
  height: 55%;
  margin: 0;

  border-radius: 2rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;

  // Card Images
  &__bg {
    grid-area: image;

    &--box {
      position: absolute;
      transform: translateY(13rem) translateX(-9.5rem);
      z-index: 2;
    }

    &--desktop {
      transform: translateX(-9rem);
    }

    &--mobile {
      display: none;
    }
  }

  // Card Content
  &__contents {
    grid-area: content;
    margin-right: 10rem;
  }

  &__texts {
    padding: 1rem 0;
  }

  &__line {
    border: 0.5px solid $divider-color;
  }
}
