.card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'image  content';
  gap: 2rem;
  align-items: center;

  background-color: $color-white;
  width: 50%;
  height: 55%;
  margin: 0;

  border-radius: 2rem;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;

  // Card Images
  &__bg {
    position: relative;
    grid-area: image;

    &--box {
      position: absolute;
    }

    &--desktop {
    }

    &--mobile {
      display: none;
    }
  }

  // Card Content

  &__contents {
    grid-area: content;
  }
}
