body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  color: $color-primary;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  color: $color-primary;
  text-transform: uppercase;
  padding-top: 1rem;
}
