// Colours

$color-primary: hsl(238, 29%, 16%);
$color-secondary: hsl(14, 88%, 65%);
$color-white: #fff;

// Bg Colors

$bg-color-1: hsl(273, 75%, 66%);
$bg-color-2: hsl(240, 73%, 65%);

// Text
$text-color-1: hsl(237, 12%, 33%);
$text-color-2: hsl(240, 6%, 50%);

// Dividers
$divider-color: hsl(240, 5%, 91%);
